.deploy/approval_gate_template.json
{"updatedAt":"2026-05-28T15:45:19.643Z","createdAt":"2026-05-27T15:59:41.488Z","id":"TjEyhSkSHRJBd3Mf","name":"🚪 [LIVE] Approval Gate — Gabe (universal approve→post)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"tg-trigger","name":"tg_callback","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[200,400],"parameters":{"updates":["callback_query"],"additionalFields":{}},"credentials":{"telegramApi":{"id":"vdl8ypeesaCLEhRo","name":"Telegram Bot"}},"webhookId":"7a1f0c2e-4b3d-4e8a-9f21-0a1b2c3d4e20"},{"id":"parse-cb","name":"🧩 Parse Callback","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,400],"parameters":{"language":"javaScript","jsCode":"const cq = $input.first().json.callback_query;\nif (!cq || !cq.data) throw new Error('no callback_query');\nconst i = cq.data.indexOf(':');\nconst pfx = cq.data.slice(0, i);\nconst run_id = cq.data.slice(i + 1);\nconst BRANDS = {\n  'soulpaws-':      { brand: 'soulpaws_ai',    handle: '@soulpaws.ai',    ig_id: '47061', tt_id: '39894', subdir: 'soulpaws'       },\n  'catauralove-':   { brand: 'cat_aura',       handle: '@cat_aura',       ig_id: '22251', tt_id: '22514', subdir: 'cat_aura'       },\n  'loyalbondlove-': { brand: 'loyal_bond0',    handle: '@loyal_bond0',    ig_id: '44221', tt_id: '40322', subdir: 'loyal_bond0'    },\n  'ariaaffirm-':    { brand: 'aria_frequency', handle: '@aria_frequency', ig_id: '44002', tt_id: '40115', subdir: 'aria_frequency' }\n};\nlet brand_cfg = null;\nfor (const [prefix, cfg] of Object.entries(BRANDS)) {\n  if (run_id.startsWith(prefix)) { brand_cfg = cfg; break; }\n}\nif (!brand_cfg) {\n  return [];\n}\nconst action = pfx === 'a' ? 'approve' : pfx === 'r' ? 'reject' : '';\nif (!action) throw new Error('bad callback data: ' + cq.data);\nreturn [{ json: { action, run_id, cq_id: cq.id, chat_id: cq.message.chat.id, message_id: cq.message.message_id, ...brand_cfg } }];"}},{"id":"answer-cb","name":"⚡ Answer Tap","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[640,400],"parameters":{"resource":"callback","operation":"answerQuery","queryId":"={{ $json.cq_id }}","additionalFields":{"text":"Working…"}},"credentials":{"telegramApi":{"id":"vdl8ypeesaCLEhRo","name":"Telegram Bot"}}},{"id":"load-meta","name":"📄 Load Run Metadata","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[860,400],"parameters":{"command":"=cat /files/viral-pet/{{ $('🧩 Parse Callback').first().json.subdir }}/{{ $('🧩 Parse Callback').first().json.run_id }}/meta.json 2>/dev/null || echo '{}'"}},{"id":"switch-action","name":"🔀 Action Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1300,400],"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ap","leftValue":"={{ $('🧩 Parse Callback').first().json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"outputKey":"approve"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"rj","leftValue":"={{ $('🧩 Parse Callback').first().json.action }}","rightValue":"reject","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"outputKey":"reject"}]},"options":{}}},{"id":"edit-approved","name":"✅ Edit → Approved","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1740,280],"parameters":{"operation":"editMessageText","chatId":"={{ $('🧩 Parse Callback').first().json.chat_id }}","messageType":"message","messageId":"={{ $('🧩 Parse Callback').first().json.message_id }}","text":"=✅ APPROVED — {{ $('🧩 Parse Callback').first().json.handle }} carousel scheduled via Blotato for {{ $json.sched_time }}.\n\nRun: {{ $('🧩 Parse Callback').first().json.run_id }}\nTheme: {{ $json.theme }}\nIG: {{ $('🧩 Parse Callback').first().json.ig_id }}  TT: {{ $('🧩 Parse Callback').first().json.tt_id }}","additionalFields":{}},"credentials":{"telegramApi":{"id":"vdl8ypeesaCLEhRo","name":"Telegram Bot"}}},{"id":"archive-reject","name":"🗂️ Archive Folder","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1520,520],"parameters":{"command":"=mkdir -p /files/viral-pet/{{ $('🧩 Parse Callback').first().json.subdir }}/_archived && mv /files/viral-pet/{{ $('🧩 Parse Callback').first().json.subdir }}/{{ $('🧩 Parse Callback').first().json.run_id }} /files/viral-pet/{{ $('🧩 Parse Callback').first().json.subdir }}/_archived/ 2>/dev/null && echo ARCHIVED"}},{"id":"edit-rejected","name":"❌ Edit → Rejected","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1740,520],"parameters":{"operation":"editMessageText","chatId":"={{ $('🧩 Parse Callback').first().json.chat_id }}","messageType":"message","messageId":"={{ $('🧩 Parse Callback').first().json.message_id }}","text":"=❌ REJECTED — carousel archived, nothing posted.\n\nRun: {{ $('🧩 Parse Callback').first().json.run_id }}","additionalFields":{}},"credentials":{"telegramApi":{"id":"vdl8ypeesaCLEhRo","name":"Telegram Bot"}}},{"id":"sticky-1","name":"📌 CALLBACK","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,100],"parameters":{"content":"## 🕯️ Soulpaws Approve Callback\n\nReceives Telegram button tap on the soulpaws notify message.\n- 'a:<run>' → Universal Poster (slideshow.mp4 → IG reel / TT / YT Shorts)\n- 'r:<run>' → archive folder, edit message to REJECTED\n\nIgnores taps where run_id doesn't start with 'soulpaws-' (so it doesn't grab cat/dog viral-pet taps).","height":220,"width":520}},{"id":"split-urls","name":"📦 Split Slides Into Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,400],"parameters":{"language":"javaScript","jsCode":"const ctx = $('🧩 Parse Callback').first().json;\nconst raw = $('📄 Load Run Metadata').first().json.stdout || '{}';\nlet m = {};\ntry { m = JSON.parse(raw); } catch (e) { m = {}; }\nconst run = ctx.run_id;\nconst base = 'https://content.littlesouls.app/viral-pet-media/' + ctx.subdir + '/' + run;\nconst count = m.slide_count || 7;\nconst items = [];\nfor (let i = 1; i <= count; i++) {\n  const n = i.toString().padStart(2, '0');\n  items.push({ json: {\n    run_id: run,\n    brand: ctx.brand,\n    handle: ctx.handle,\n    ig_id: ctx.ig_id,\n    tt_id: ctx.tt_id,\n    subdir: ctx.subdir,\n    slide_index: i,\n    slide_url: base + '/slide_' + n + '.png',\n    caption_ig: m.caption_ig || '',\n    caption_tt: m.caption_tt || '',\n    theme: m.theme || '',\n    chat_id: ctx.chat_id,\n    message_id: ctx.message_id,\n    slide_count: count\n  }});\n}\nreturn items;"}},{"id":"blotato-upload","name":"⬆️ Blotato Upload (per slide)","type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[1300,400],"parameters":{"resource":"media","operation":"upload","useBinaryData":false,"mediaUrl":"={{ $json.slide_url }}"},"credentials":{"blotatoApi":{"id":"6ukdyGCzGdXWJ0xx","name":"Blotato"}}},{"id":"aggregate-urls","name":"🔗 Aggregate Blotato URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,400],"parameters":{"language":"javaScript","jsCode":"const items = $input.all();\nconst urls = items.map(it => it.json.url).filter(Boolean);\nif (urls.length === 0) throw new Error('no Blotato URLs aggregated');\nconst ctx = $('🧩 Parse Callback').first().json;\nconst meta = items[0].json;\n\n// Random posting slot in the 08:00–21:00 UTC window, ≥ 20min from now.\n// If too late today, roll to tomorrow's window. Each brand approval = its own\n// random time, so the 3 daily posts scatter naturally across the day.\nconst now = Date.now();\nconst t = new Date();\nconst y = t.getUTCFullYear(), mo = t.getUTCMonth(), d = t.getUTCDate();\nconst winStart = Date.UTC(y, mo, d, 8, 0, 0);\nconst winEnd = Date.UTC(y, mo, d, 21, 0, 0);\nconst earliest = Math.max(now + 20 * 60 * 1000, winStart);\nlet sched;\nif (earliest >= winEnd) {\n  const tomStart = winStart + 24 * 3600 * 1000;\n  sched = new Date(tomStart + Math.random() * (13 * 3600 * 1000));\n} else {\n  sched = new Date(earliest + Math.random() * (winEnd - earliest));\n}\nconst sched_time = sched.toISOString();\n\nreturn [{ json: {\n  run_id: ctx.run_id,\n  brand: ctx.brand,\n  handle: ctx.handle,\n  ig_id: ctx.ig_id,\n  tt_id: ctx.tt_id,\n  chat_id: ctx.chat_id,\n  message_id: ctx.message_id,\n  caption_ig: meta.caption_ig || '',\n  caption_tt: meta.caption_tt || '',\n  theme: meta.theme || '',\n  media_urls: urls,\n  slide_count: urls.length,\n  sched_time\n} }];"}},{"id":"post-ig-carousel","name":"📸 Post IG Carousel","type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[1740,320],"parameters":{"accountId":{"__rl":true,"value":"={{ $json.ig_id }}","mode":"id"},"postContentText":"={{ $json.caption_ig }}","postContentMediaUrls":"={{ $json.media_urls }}","postScheduledTime":"={{ $json.sched_time }}","options":{}},"credentials":{"blotatoApi":{"id":"6ukdyGCzGdXWJ0xx","name":"Blotato"}},"continueOnFail":true},{"id":"post-tt-photos","name":"🎥 Post TikTok Photo Carousel","type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[1740,480],"parameters":{"platform":"tiktok","accountId":{"__rl":true,"value":"={{ $json.tt_id }}","mode":"id"},"postContentText":"={{ $json.caption_tt }}","postContentMediaUrls":"={{ $json.media_urls }}","postScheduledTime":"={{ $json.sched_time }}","postCreateTiktokOptionAutoAddMusic":true,"options":{}},"credentials":{"blotatoApi":{"id":"6ukdyGCzGdXWJ0xx","name":"Blotato"}},"continueOnFail":true},{"id":"1eff7bad-86fc-4970-8616-490cca7c851e","name":"🔀 aria carousel?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1630,560],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ariab","leftValue":"={{ $json.brand }}","rightValue":"aria_frequency","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"0f99b5d3-dff0-4b15-8855-12c665a414b2","name":"📱 Buffer TikTok (aria carousel)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,640],"parameters":{"method":"POST","url":"https://api.buffer.com","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"query\": \"mutation($i:CreatePostInput!){createPost(input:$i){ __typename ... on PostActionSuccess { post { id status } } ... on InvalidInputError { message } ... on RestProxyError { message code } ... on LimitReachedError { message } ... on UnexpectedError { message } } }\", \"variables\": { \"i\": { \"channelId\": \"6a180deac687a22dd4351483\", \"schedulingType\": \"automatic\", \"mode\": \"customScheduled\", \"dueAt\": $json.sched_time, \"text\": $json.caption_tt, \"assets\": Array.from({length: $json.slide_count}, (_, idx) => ({ \"image\": { \"url\": \"https://content.littlesouls.app/viral-pet-media/aria_frequency/\" + $json.run_id + \"/slide_\" + String(idx+1).padStart(2, \"0\") + \".png\" } })), \"metadata\": { \"tiktok\": { \"title\": ($json.theme || \"aria\").slice(0,90) } } } } } }}","options":{"timeout":60000}},"credentials":{"httpHeaderAuth":{"id":"CeirguB2wCOrvmkz","name":"Buffer Bearer (aria)"}},"onError":"continueRegularOutput"}],"connections":{"tg_callback":{"main":[[{"node":"🧩 Parse Callback","type":"main","index":0}]]},"🧩 Parse Callback":{"main":[[{"node":"⚡ Answer Tap","type":"main","index":0}]]},"⚡ Answer Tap":{"main":[[{"node":"📄 Load Run Metadata","type":"main","index":0}]]},"🔀 Action Switch":{"main":[[{"node":"📦 Split Slides Into Items","type":"main","index":0}],[{"node":"🗂️ Archive Folder","type":"main","index":0}]]},"🗂️ Archive Folder":{"main":[[{"node":"❌ Edit → Rejected","type":"main","index":0}]]},"📦 Split Slides Into Items":{"main":[[{"node":"⬆️ Blotato Upload (per slide)","type":"main","index":0}]]},"⬆️ Blotato Upload (per slide)":{"main":[[{"node":"🔗 Aggregate Blotato URLs","type":"main","index":0}]]},"🔗 Aggregate Blotato URLs":{"main":[[{"node":"📸 Post IG Carousel","type":"main","index":0},{"node":"🔀 aria carousel?","type":"main","index":0}]]},"📸 Post IG Carousel":{"main":[[{"node":"✅ Edit → Approved","type":"main","index":0}]]},"🔀 aria carousel?":{"main":[[{"node":"📱 Buffer TikTok (aria carousel)","type":"main","index":0}],[{"node":"🎥 Post TikTok Photo Carousel","type":"main","index":0}]]},"📄 Load Run Metadata":{"main":[[{"node":"🔀 Action Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"7e1d022f-4029-4011-9ef4-2e12346e060a","activeVersionId":"7e1d022f-4029-4011-9ef4-2e12346e060a","versionCounter":65,"triggerCount":1,"shared":[{"updatedAt":"2026-05-27T15:59:41.490Z","createdAt":"2026-05-27T15:59:41.490Z","role":"workflow:owner","workflowId":"TjEyhSkSHRJBd3Mf","projectId":"QxzHWHWKbMSiRSJA","project":{"updatedAt":"2026-03-27T11:21:19.791Z","createdAt":"2026-03-15T00:16:33.871Z","id":"QxzHWHWKbMSiRSJA","name":"danny thomas <contentworkflowsn8nl.overview835@passmail.net>","type":"personal","icon":null,"description":null,"creatorId":"01eece50-1f40-4dbc-8cd5-1bb58227de3a","projectRelations":[{"updatedAt":"2026-03-15T00:16:33.872Z","createdAt":"2026-03-15T00:16:33.872Z","userId":"01eece50-1f40-4dbc-8cd5-1bb58227de3a","projectId":"QxzHWHWKbMSiRSJA","user":{"updatedAt":"2026-05-29T11:04:36.000Z","createdAt":"2026-03-15T00:16:33.403Z","id":"01eece50-1f40-4dbc-8cd5-1bb58227de3a","email":"contentworkflowsn8nl.overview835@passmail.net","firstName":"danny","lastName":"thomas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-03-15T01:34:52.435Z","personalization_survey_n8n_version":"2.11.4"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"oGtmXlcFkdq3hedj","userActivatedAt":1773658800118,"npsSurvey":{"responded":true,"lastShownAt":1775220115763}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-28","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-28T14:17:16.357Z","createdAt":"2026-05-28T14:17:16.357Z","versionId":"7e1d022f-4029-4011-9ef4-2e12346e060a","workflowId":"TjEyhSkSHRJBd3Mf","nodes":[{"id":"tg-trigger","name":"tg_callback","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[200,400],"parameters":{"updates":["callback_query"],"additionalFields":{}},"credentials":{"telegramApi":{"id":"vdl8ypeesaCLEhRo","name":"Telegram Bot"}},"webhookId":"7a1f0c2e-4b3d-4e8a-9f21-0a1b2c3d4e20"},{"id":"parse-cb","name":"🧩 Parse Callback","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,400],"parameters":{"language":"javaScript","jsCode":"const cq = $input.first().json.callback_query;\nif (!cq || !cq.data) throw new Error('no callback_query');\nconst i = cq.data.indexOf(':');\nconst pfx = cq.data.slice(0, i);\nconst run_id = cq.data.slice(i + 1);\nconst BRANDS = {\n  'soulpaws-':      { brand: 'soulpaws_ai',    handle: '@soulpaws.ai',    ig_id: '47061', tt_id: '39894', subdir: 'soulpaws'       },\n  'catauralove-':   { brand: 'cat_aura',       handle: '@cat_aura',       ig_id: '22251', tt_id: '22514', subdir: 'cat_aura'       },\n  'loyalbondlove-': { brand: 'loyal_bond0',    handle: '@loyal_bond0',    ig_id: '44221', tt_id: '40322', subdir: 'loyal_bond0'    },\n  'ariaaffirm-':    { brand: 'aria_frequency', handle: '@aria_frequency', ig_id: '44002', tt_id: '40115', subdir: 'aria_frequency' }\n};\nlet brand_cfg = null;\nfor (const [prefix, cfg] of Object.entries(BRANDS)) {\n  if (run_id.startsWith(prefix)) { brand_cfg = cfg; break; }\n}\nif (!brand_cfg) {\n  return [];\n}\nconst action = pfx === 'a' ? 'approve' : pfx === 'r' ? 'reject' : '';\nif (!action) throw new Error('bad callback data: ' + cq.data);\nreturn [{ json: { action, run_id, cq_id: cq.id, chat_id: cq.message.chat.id, message_id: cq.message.message_id, ...brand_cfg } }];"}},{"id":"answer-cb","name":"⚡ Answer Tap","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[640,400],"parameters":{"resource":"callback","operation":"answerQuery","queryId":"={{ $json.cq_id }}","additionalFields":{"text":"Working…"}},"credentials":{"telegramApi":{"id":"vdl8ypeesaCLEhRo","name":"Telegram Bot"}}},{"id":"load-meta","name":"📄 Load Run Metadata","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[860,400],"parameters":{"command":"=cat /files/viral-pet/{{ $('🧩 Parse Callback').first().json.subdir }}/{{ $('🧩 Parse Callback').first().json.run_id }}/meta.json 2>/dev/null || echo '{}'"}},{"id":"switch-action","name":"🔀 Action Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1300,400],"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ap","leftValue":"={{ $('🧩 Parse Callback').first().json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"outputKey":"approve"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"rj","leftValue":"={{ $('🧩 Parse Callback').first().json.action }}","rightValue":"reject","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"outputKey":"reject"}]},"options":{}}},{"id":"edit-approved","name":"✅ Edit → Approved","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1740,280],"parameters":{"operation":"editMessageText","chatId":"={{ $('🧩 Parse Callback').first().json.chat_id }}","messageType":"message","messageId":"={{ $('🧩 Parse Callback').first().json.message_id }}","text":"=✅ APPROVED — {{ $('🧩 Parse Callback').first().json.handle }} carousel scheduled via Blotato for {{ $json.sched_time }}.\n\nRun: {{ $('🧩 Parse Callback').first().json.run_id }}\nTheme: {{ $json.theme }}\nIG: {{ $('🧩 Parse Callback').first().json.ig_id }}  TT: {{ $('🧩 Parse Callback').first().json.tt_id }}","additionalFields":{}},"credentials":{"telegramApi":{"id":"vdl8ypeesaCLEhRo","name":"Telegram Bot"}}},{"id":"archive-reject","name":"🗂️ Archive Folder","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1520,520],"parameters":{"command":"=mkdir -p /files/viral-pet/{{ $('🧩 Parse Callback').first().json.subdir }}/_archived && mv /files/viral-pet/{{ $('🧩 Parse Callback').first().json.subdir }}/{{ $('🧩 Parse Callback').first().json.run_id }} /files/viral-pet/{{ $('🧩 Parse Callback').first().json.subdir }}/_archived/ 2>/dev/null && echo ARCHIVED"}},{"id":"edit-rejected","name":"❌ Edit → Rejected","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1740,520],"parameters":{"operation":"editMessageText","chatId":"={{ $('🧩 Parse Callback').first().json.chat_id }}","messageType":"message","messageId":"={{ $('🧩 Parse Callback').first().json.message_id }}","text":"=❌ REJECTED — carousel archived, nothing posted.\n\nRun: {{ $('🧩 Parse Callback').first().json.run_id }}","additionalFields":{}},"credentials":{"telegramApi":{"id":"vdl8ypeesaCLEhRo","name":"Telegram Bot"}}},{"id":"sticky-1","name":"📌 CALLBACK","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,100],"parameters":{"content":"## 🕯️ Soulpaws Approve Callback\n\nReceives Telegram button tap on the soulpaws notify message.\n- 'a:<run>' → Universal Poster (slideshow.mp4 → IG reel / TT / YT Shorts)\n- 'r:<run>' → archive folder, edit message to REJECTED\n\nIgnores taps where run_id doesn't start with 'soulpaws-' (so it doesn't grab cat/dog viral-pet taps).","height":220,"width":520}},{"id":"split-urls","name":"📦 Split Slides Into Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,400],"parameters":{"language":"javaScript","jsCode":"const ctx = $('🧩 Parse Callback').first().json;\nconst raw = $('📄 Load Run Metadata').first().json.stdout || '{}';\nlet m = {};\ntry { m = JSON.parse(raw); } catch (e) { m = {}; }\nconst run = ctx.run_id;\nconst base = 'https://content.littlesouls.app/viral-pet-media/' + ctx.subdir + '/' + run;\nconst count = m.slide_count || 7;\nconst items = [];\nfor (let i = 1; i <= count; i++) {\n  const n = i.toString().padStart(2, '0');\n  items.push({ json: {\n    run_id: run,\n    brand: ctx.brand,\n    handle: ctx.handle,\n    ig_id: ctx.ig_id,\n    tt_id: ctx.tt_id,\n    subdir: ctx.subdir,\n    slide_index: i,\n    slide_url: base + '/slide_' + n + '.png',\n    caption_ig: m.caption_ig || '',\n    caption_tt: m.caption_tt || '',\n    theme: m.theme || '',\n    chat_id: ctx.chat_id,\n    message_id: ctx.message_id,\n    slide_count: count\n  }});\n}\nreturn items;"}},{"id":"blotato-upload","name":"⬆️ Blotato Upload (per slide)","type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[1300,400],"parameters":{"resource":"media","operation":"upload","useBinaryData":false,"mediaUrl":"={{ $json.slide_url }}"},"credentials":{"blotatoApi":{"id":"6ukdyGCzGdXWJ0xx","name":"Blotato"}}},{"id":"aggregate-urls","name":"🔗 Aggregate Blotato URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,400],"parameters":{"language":"javaScript","jsCode":"const items = $input.all();\nconst urls = items.map(it => it.json.url).filter(Boolean);\nif (urls.length === 0) throw new Error('no Blotato URLs aggregated');\nconst ctx = $('🧩 Parse Callback').first().json;\nconst meta = items[0].json;\n\n// Random posting slot in the 08:00–21:00 UTC window, ≥ 20min from now.\n// If too late today, roll to tomorrow's window. Each brand approval = its own\n// random time, so the 3 daily posts scatter naturally across the day.\nconst now = Date.now();\nconst t = new Date();\nconst y = t.getUTCFullYear(), mo = t.getUTCMonth(), d = t.getUTCDate();\nconst winStart = Date.UTC(y, mo, d, 8, 0, 0);\nconst winEnd = Date.UTC(y, mo, d, 21, 0, 0);\nconst earliest = Math.max(now + 20 * 60 * 1000, winStart);\nlet sched;\nif (earliest >= winEnd) {\n  const tomStart = winStart + 24 * 3600 * 1000;\n  sched = new Date(tomStart + Math.random() * (13 * 3600 * 1000));\n} else {\n  sched = new Date(earliest + Math.random() * (winEnd - earliest));\n}\nconst sched_time = sched.toISOString();\n\nreturn [{ json: {\n  run_id: ctx.run_id,\n  brand: ctx.brand,\n  handle: ctx.handle,\n  ig_id: ctx.ig_id,\n  tt_id: ctx.tt_id,\n  chat_id: ctx.chat_id,\n  message_id: ctx.message_id,\n  caption_ig: meta.caption_ig || '',\n  caption_tt: meta.caption_tt || '',\n  theme: meta.theme || '',\n  media_urls: urls,\n  slide_count: urls.length,\n  sched_time\n} }];"}},{"id":"post-ig-carousel","name":"📸 Post IG Carousel","type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[1740,320],"parameters":{"accountId":{"__rl":true,"value":"={{ $json.ig_id }}","mode":"id"},"postContentText":"={{ $json.caption_ig }}","postContentMediaUrls":"={{ $json.media_urls }}","postScheduledTime":"={{ $json.sched_time }}","options":{}},"credentials":{"blotatoApi":{"id":"6ukdyGCzGdXWJ0xx","name":"Blotato"}},"continueOnFail":true},{"id":"post-tt-photos","name":"🎥 Post TikTok Photo Carousel","type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[1740,480],"parameters":{"platform":"tiktok","accountId":{"__rl":true,"value":"={{ $json.tt_id }}","mode":"id"},"postContentText":"={{ $json.caption_tt }}","postContentMediaUrls":"={{ $json.media_urls }}","postScheduledTime":"={{ $json.sched_time }}","postCreateTiktokOptionAutoAddMusic":true,"options":{}},"credentials":{"blotatoApi":{"id":"6ukdyGCzGdXWJ0xx","name":"Blotato"}},"continueOnFail":true},{"id":"1eff7bad-86fc-4970-8616-490cca7c851e","name":"🔀 aria carousel?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1630,560],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ariab","leftValue":"={{ $json.brand }}","rightValue":"aria_frequency","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"0f99b5d3-dff0-4b15-8855-12c665a414b2","name":"📱 Buffer TikTok (aria carousel)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,640],"parameters":{"method":"POST","url":"https://api.buffer.com","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"query\": \"mutation($i:CreatePostInput!){createPost(input:$i){ __typename ... on PostActionSuccess { post { id status } } ... on InvalidInputError { message } ... on RestProxyError { message code } ... on LimitReachedError { message } ... on UnexpectedError { message } } }\", \"variables\": { \"i\": { \"channelId\": \"6a180deac687a22dd4351483\", \"schedulingType\": \"automatic\", \"mode\": \"customScheduled\", \"dueAt\": $json.sched_time, \"text\": $json.caption_tt, \"assets\": Array.from({length: $json.slide_count}, (_, idx) => ({ \"image\": { \"url\": \"https://content.littlesouls.app/viral-pet-media/aria_frequency/\" + $json.run_id + \"/slide_\" + String(idx+1).padStart(2, \"0\") + \".png\" } })), \"metadata\": { \"tiktok\": { \"title\": ($json.theme || \"aria\").slice(0,90) } } } } } }}","options":{"timeout":60000}},"credentials":{"httpHeaderAuth":{"id":"CeirguB2wCOrvmkz","name":"Buffer Bearer (aria)"}},"onError":"continueRegularOutput"}],"connections":{"tg_callback":{"main":[[{"node":"🧩 Parse Callback","type":"main","index":0}]]},"🧩 Parse Callback":{"main":[[{"node":"⚡ Answer Tap","type":"main","index":0}]]},"⚡ Answer Tap":{"main":[[{"node":"📄 Load Run Metadata","type":"main","index":0}]]},"🔀 Action Switch":{"main":[[{"node":"📦 Split Slides Into Items","type":"main","index":0}],[{"node":"🗂️ Archive Folder","type":"main","index":0}]]},"🗂️ Archive Folder":{"main":[[{"node":"❌ Edit → Rejected","type":"main","index":0}]]},"📦 Split Slides Into Items":{"main":[[{"node":"⬆️ Blotato Upload (per slide)","type":"main","index":0}]]},"⬆️ Blotato Upload (per slide)":{"main":[[{"node":"🔗 Aggregate Blotato URLs","type":"main","index":0}]]},"🔗 Aggregate Blotato URLs":{"main":[[{"node":"📸 Post IG Carousel","type":"main","index":0},{"node":"🔀 aria carousel?","type":"main","index":0}]]},"📸 Post IG Carousel":{"main":[[{"node":"✅ Edit → Approved","type":"main","index":0}]]},"🔀 aria carousel?":{"main":[[{"node":"📱 Buffer TikTok (aria carousel)","type":"main","index":0}],[{"node":"🎥 Post TikTok Photo Carousel","type":"main","index":0}]]},"📄 Load Run Metadata":{"main":[[{"node":"🔀 Action Switch","type":"main","index":0}]]}},"authors":"danny thomas","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-28T14:17:16.592Z","id":691,"workflowId":"TjEyhSkSHRJBd3Mf","versionId":"7e1d022f-4029-4011-9ef4-2e12346e060a","event":"activated","userId":"01eece50-1f40-4dbc-8cd5-1bb58227de3a"},{"createdAt":"2026-05-28T14:17:43.890Z","id":693,"workflowId":"TjEyhSkSHRJBd3Mf","versionId":"7e1d022f-4029-4011-9ef4-2e12346e060a","event":"activated","userId":"01eece50-1f40-4dbc-8cd5-1bb58227de3a"},{"createdAt":"2026-05-28T15:41:21.118Z","id":699,"workflowId":"TjEyhSkSHRJBd3Mf","versionId":"7e1d022f-4029-4011-9ef4-2e12346e060a","event":"activated","userId":"01eece50-1f40-4dbc-8cd5-1bb58227de3a"},{"createdAt":"2026-05-28T15:45:19.884Z","id":700,"workflowId":"TjEyhSkSHRJBd3Mf","versionId":"7e1d022f-4029-4011-9ef4-2e12346e060a","event":"activated","userId":"01eece50-1f40-4dbc-8cd5-1bb58227de3a"},{"createdAt":"2026-05-28T14:17:43.649Z","id":692,"workflowId":"TjEyhSkSHRJBd3Mf","versionId":"7e1d022f-4029-4011-9ef4-2e12346e060a","event":"deactivated","userId":"01eece50-1f40-4dbc-8cd5-1bb58227de3a"}]}}